# Documentos para a ação de implantação de aplicativos Web do Azure: https://github.com/Azure/webapps-deploy
# Mais ações do GitHub para Azure: https://github.com/Azure/actions
# Mais informações sobre Python, GitHub Actions e Azure App Service: https://aka.ms/python-webapps-actions

nome : Crie e implante o aplicativo Python no aplicativo Web do Azure - tccaluu

em :
  empurre :
    ramos :
      - principal
  workflow_dispatch :

trabalhos :
  construir :
    run-on : ubuntu-latest

    passos :
      - eua : ações/checkout@v2

      - name : configura a versão do Python
        eua : ações/setup-python@v1
        com :
          versão python : ' 3.11 '

      - nome : criar e iniciar o ambiente virtual
        executar : |
          python -m venv venv
          fonte venv/bin/ativar
      
      - nome : Instalar dependências
        executar : pip install -r requisitos.txt
        
      # Opcional: Adicione a etapa para executar testes aqui (PyTest, suítes de teste Django, etc.)
      
      - nome : Artefato de upload para trabalhos de implantação
        eua : ações/upload-artifact@v2
        com :
          nome : python-app
          caminho : |
            .
            !venv/
  implantar :
    run-on : ubuntu-latest
    necessidades : construir
    ambiente :
      Nome : ' Produção '
      url : ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    passos :
      - name : Baixe a válvula do trabalho de construção
        eua : ações/download-artifact@v2
        com :
          nome : python-app
          caminho : .
          
      -name : ' Implantar no Aplicativo Web do Azure '
        eua : azure/webapps-deploy@v2
        id : implementar para webapp
        com :
          nome do aplicativo : ' tccaluu '
          nome do slot : ' Produção '
          perfil de publicação : ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_26A328907B744BD4B43C79AF32591CEA }}
