

.btn, .btn:focus, .btn:active{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.btn{
    color: white;
    background-color: #42b8c4 !important;
    border-color: #42b8c4 !important;
    border-radius: 999px;
    width: 95%;
}
.btn:hover, .btn:active, .btn:focus{
    background-color: #42b8c4 !important;
    border-color: #42b8c4 !important;
}
.star{
    color: red;
}

.user-box{
    background-color: #fff;
    width: 45%;
    border-radius: 5px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px 10px 50px;
}

.user-box form > div{
    margin-left: 10px;
    margin-right: 10px;
}

.custom-file-label{
    overflow: hidden;
}

.small{
    font-size: small;
}

/* Reduz a altura da caixa de texto do placeholder */
.form-control::placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px; /* Reduz o espaçamento superior */
    padding-bottom: 5px; /* Reduz o espaçamento inferior */
}
